@import "_mixins";

.header {
    position: relative;

    &.hasTitle {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }
}

.typeTitle {
    font-size: 25px;
    font-weight: 700;
}

.rightSide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.searchBox {
    position: relative;
}

.add-item-button {
    @include elemDimension(30px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-control {
    height: 30px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 10px 8px;
    appearance: none;
}