@use "_variables"as v;
@import "_mixins";

.list-group-item {
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--listColor);
    padding: 0.75rem 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    overflow: hidden;

    &:before {
        content: "";
        @include elemDimension(100%);
        background-color: var(--listColor);
        position: absolute;
        inset: 0 0 auto auto;
        opacity: 0;
        z-index: -1;
    }

    &:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
        border-bottom: none;
    }

    &:only-child {
        border-radius: 5px !important;
    }

    &:not(:only-child) {
        &:nth-child(even) {
            &:before {
                opacity: 0.2;
            }
        }

        &:first-child {
            &:not(:only-child) {
                border-bottom: none;
                border-radius: 5px 5px 0 0;
            }
        }

        &:last-child {
            border-radius: 0 0 5px 5px !important;

            &:not(:nth-child(2)) {
                border-top: none;
            }
        }
    }
}

.list-group-item-header {
    font-weight: 700;

    .list-item {
        height: 35px;
    }
}

.first-item {
    --width: 30%;
    justify-content: flex-start;

    @include maxScreenSize(600px) {
        --width: 120px;
    }
}

.second-item,
.third-item {
    margin: 0 10px;
    justify-content: flex-start !important;
}

.second-item {
    --width: 180px;
    justify-content: flex-start !important;

    @include maxScreenSize(600px) {
        --width: 120px;
    }
}

.third-item {
    --width: 150px;

    @include maxScreenSize(1250px) {
        --width: 100px;
    }

    @include maxScreenSize(600px) {
        display: none !important;
    }
}

.fourth-item {
    --width: 150px;
    padding: 5px;
    justify-content: center !important;

    @include maxScreenSize(800px) {
        display: none !important;
    }
}

.fifth-item {
    --width: 100px;
    justify-content: center !important;

    @include maxScreenSize(1100px) {
        display: none !important;
    }
}

.clickable-item {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.list-item {
    min-width: var(--width);
    max-width: var(--width);
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name {
    position: relative;
}

.category {
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid rgba(v.$gray-500, 0.8);
    border-radius: 8px;
    padding: 5px 8px;
    user-select: none;
    cursor: pointer;
    transition: border-color 100ms linear;

    &:hover {
        border-color: rgba(v.$gray-900, 0.9);
    }
}

.badge {
    color: var(--white);
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25em 0.4em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    user-select: all;

    &:before {
        content: "";
        @include elemDimension(100%);
        border-radius: 5px;
        position: absolute;
        inset: 0 0 auto auto;
        pointer-events: none;
        z-index: -1;
    }
}

.badge-income {
    &::before {
        background-color: var(--green);
    }
}

.badge-expense {
    &::before {
        background-color: var(--red);
    }
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        @include elemDimension(80%);
        transform: scale(0.8);
        transition: transform 100ms linear;
    }

    &:hover {
        svg {
            transform: scale(0.9);
        }
    }
}

.viewModal {
    @include elemDimension(400px, 370px);
    padding: 10px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    .view-item {
        min-width: 100%;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        gap: 15px;

        >* {
            padding: 10px;
            flex: 1;

            &:first-child {
                --width: 40%;
                min-width: var(--width);
                max-width: var(--width);
                font-weight: 500;
                text-align: end;

                &[type="button"] {
                    --width: 80px !important;
                    height: 20px;
                }

                &:only-child {
                    --width: 100%;
                    text-align: center;
                }
            }

        }
    }
}