@use "_variables"as v;
@import "_mixins";

.currencySelectorContainer {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    >* {
        width: 100%;
        flex: 1;
    }

    .title {
        letter-spacing: -1px;
        margin: 0;
        user-select: none;
    }

    .currencyOptionsContainer {
        position: relative;

        button[role="combobox"]:has(.currencyOptionSelected) {
            --width: calc(100% - 20px);
            min-width: var(--width);
            max-width: var(--width);
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .currencySelectedOptions {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 15px;
        margin: 0 0 10px 0;
        position: relative;

        ul {

            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }

    .currencyEmptySelection {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .currencySelectedOption {
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: background-color 100ms linear;
        user-select: none;
        overflow: hidden;
        cursor: move;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        >* {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .currencySelectedOptionName {
        @include elemDimension(max-content, 100%);
        height: 18px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 8px;
        margin-right: 18px;
    }

    .currencySelectedOptionRemoveButton {
        @include elemDimension(18px, 100%);
        background-color: rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        position: absolute;
        inset: 0 0 auto auto;
        cursor: pointer;
    }

    .currencyOptionSelected {
        font-weight: 600;
        text-align: left;
    }

    .buttonContainer {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    option {
        font-size: 16px;
        padding: 5px 0 5px 10px;
    }

    .currencyNotification {
        color: rgba(v.$red, 0.9);
        font-size: 16px;
        font-weight: 600;
        text-align: center;

        &:empty {
            display: none;
        }
    }
}

.currency-list {
    display: flex;
    flex-flow: column;
    gap: 10px;

    &.currency-list-selection {
        position: relative;
    }

    .currency-item {
        color: var(--gray-dark);
        background-color: rgba(v.$gray-400, 0.3);
        border-color: #d6d8db;
        border-radius: 5px;
        padding: 15px 20px;
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        transitioN: background-color 100ms linear, border 100ms linear;
    }

    .currency-item-selected {
        background-color: rgba(v.$gray-400, 0.5);
        border: 1px solid rgba(v.$gray-600, 1);
    }

    .currencyName {
        font-weight: 700;
    }

    .currencyValue {
        font-weight: 700;
    }

    .valueNum,
    .valueCurrency {
        color: var(--green);
    }

    .valueCurrency {
        margin-left: 5px;
    }
}

.currencyTab {
    will-change: auto;

    .gapFromGraph {
        position: relative;
    }
}

.headerTitle {
    height: 50px;
    margin: 0 0 1em 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerQuoteCurrency {
        margin: 0px !important;
    }

    .headerBaseCurrency {
        font-weight: 700;
        margin: 0 20px 0 0;
    }
}

.currencyGraphContainer {
    min-height: 350px;
    max-height: 350px;
}

.currencyGraph {
    margin-bottom: 30px;

    .graphHeading {
        text-align: center;
        margin: 0 0 30px 0 !important;
    }

    .loadingGraph {
        @include elemDimension(100%, 350px);
        font-weight: 700;
        font-size: 24px;
        background-color: rgba(v.$gray-400, 0.5);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .currencyGraphButtons {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .currencyGraphButton {
        border-radius: 5px;
        font-weight: 600;
        user-select: none;
        cursor: pointer;
    }

}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addCurrencyButton {
    color: var(--gray-dark);
    font-weight: 600;
    background-color: rgba(v.$gray-400, 0.3);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    position: relative;
    appearance: none;
    cursor: pointer;
    user-select: none;
}