@use "_variables"as v;
@import "mixins";

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px) !default;

.container {
    @include elemDimension(calc(100% - var(--sidebarWidth)), 100vh);
    min-height: 100vh;
    position: absolute;
    inset: 0 auto auto calc(var(--sidebarWidth));
    display: flex;
    flex-flow: column;

    h1,
    h3 {
        font-weight: 700;
        margin-top: 1rem;
    }
}

.container-inner {
    @include elemDimension(100%, auto);
    padding: 20px 30px;
    margin: 0;
    position: relative;

    &.loadingScreen {
        height: 100% !important;
    }
}

.container-section {
    margin: 20px 0;
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 10px;

    &:first-child {
        margin-top: -15px;
    }

    &:last-child {
        margin-bottom: 40px;
    }
}

.container-section:has(.view-all-button) {
    ul {
        margin-bottom: 0;
    }

    li:last-child {
        border-radius: 0;
    }

    .view-all-button {
        margin-top: 10px;
    }
}

.assets-row {
    display: flex;
    flex-flow: row;
    gap: 25px;

    @include maxScreenSize(770px) {
        flex-flow: column;
    }
}

.assets-row-spacing {
    margin-bottom: 20px;
}

.asset-container {
    max-width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 100ms linear;
    cursor: pointer;
}

.asset-container-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    >*:first-child {
        font-size: 25px;
        font-weight: 700;
        margin-top: 10px;
    }

    b {
        font-size: 14px;
        text-transform: uppercase;
        margin: 10px 0;
    }
}

.container-nav {
    margin: 10px 0 0 0;
}

.container-right {
    position: relative;
}

.container-nav-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.add-item-button {
    @extend .tab-item;
}

.add-item-button-hover {
    @extend .tab-hover;
}

.view-all-button {
    height: 40px;
    color: var(--gray-dark);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
    word-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 100ms linear, background-color 100ms linear;
    z-index: 2;
    overflow: hidden;
    --border: 1px solid var(--listColor);

    span {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.backButton {
    margin: 0 0 20px 0;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;

    .icon {
        @include elemDimension(20px);
        transition: transform 100ms linear;

        svg {
            @include elemDimension(100%);
        }
    }

    .icon:not(.iconHovered) {
        transform: translate(-5px, 0);
    }

    .icon.iconHovered {
        transform: translate(-10px, 0);
    }

    .text {
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        cursor: pointer;
    }
}

.nav-tabs {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    user-select: none;
}

.tab-item {
    height: 40px;
    color: var(--gray-dark);
    font-weight: 600;
    border-radius: 5px;
    padding: 7px 15px;
    position: relative;
    cursor: pointer;
    transition: color 100ms linear, background-color 100ms linear;
    z-index: 2;
    overflow: hidden;

    &:before {
        content: "";
        @include elemDimension(100%);
        background-color: #{rgba(v.$blue, 1)};
        position: absolute;
        inset: 0 0 auto auto;
        opacity: 0.1;
        z-index: -1;
        pointer-events: none;
        transition: opacity 100ms linear;
    }

    span {
        height: 10px;
    }
}

.tab-active {
    color: var(--white);

    &:before {
        opacity: 1 !important;
    }
}

.tab-hover {
    &:before {
        opacity: 0.3;
    }
}

.total {
    color: var(--gray-dark);
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.income {
    color: var(--green);
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.expenses {
    color: var(--red);
    background-color: #f8d7da;
    border-color: #f5c6cb;
}