@use "_variables"as v;
@import "_mixins";

.loginPage {
    @include elemDimension(100vw, 100vh);
    position: relative;
    inset: 0 auto auto 0;
}

.loginContainer {
    @include elemDimension(420px, max-content);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 25px 15px rgba(v.$gray-300, 0.4), 0 0 100px 15px rgba(v.$gray-300, 0.5);
    padding: 30px 25px;
    position: absolute;
    inset: 50% auto auto 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    transform: translate(-50%, -50%);

    >.inputGroup {
        justify-content: center;
    }
}

.headerTitle {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 1.5rem 0 !important;
}

.inputForms {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.inputGroup {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    input {
        flex: 1;

    }

    &:last-child {
        margin-bottom: 30px;
    }
}

.name {
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 1;
    user-select: none
}

.input {
    @include elemDimension(150px, 40px);
    background-color: rgba(v.$gray-300, 0.7);
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    transition-property: background-color, box-shadow;
    transition-duration: 100ms;
    transition-timing-function: linear;

    &:focus {
        background-color: rgba(v.$gray-300, 1);
        box-shadow: 0 0 20px 10px rgba(v.$gray-400, 0.3);
    }
}

.icon {
    @include elemDimension(20px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        @include elemDimension(100%);
    }
}

.button {
    background-color: rgba(v.$gray-300, 0.7);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 100ms linear, box-shadow 100ms linear;

    &:hover,
    &:focus {
        background-color: rgba(v.$blue, 0.8);
        box-shadow: 0 0 20px 3px rgba(v.$blue, 0.3);

        span {
            color: var(--white);
        }
    }

    &:hover {
        box-shadow: 0 0 20px 3px rgba(v.$blue, 0.3);
    }

    span {
        height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        transition: color 100ms linear;
    }
}

.notification {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;

    .notificationType {
        font-weight: 700;
    }

    .notificationText {
        margin-left: 10px;
    }
}