@use "_variables"as v;

:root {

    @each $color,
    $value in v.$colors {
        --#{$color}: #{$value};
    }

    // Use `inspect` for lists so that quoted items keep the quotes.
    --font-family-sans-serif: #{inspect(v.$font-family-sans-serif)};
    --font-family-monospace: #{inspect(v.$font-family-monospace)};
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    color: v.$body-color;
    text-align: left;
    font-family: v.$font-family-base;
    font-weight: v.$font-weight-base;
    background-color: v.$body-bg;
    line-height: v.$line-height-base;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}