@import "_mixins";
@import "_extends";

.formContainer {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    &.single {
        justify-content: center;
    }
}

.divide {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.form-control {
    @include elemDimension(100%, calc(1.5em + 0.75rem + 2px));
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    display: block;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }

}

.button {
    @extend %button;
}

.button-primary {
    @extend %button-primary;
}