@use "_variables"as v;
@import "_mixins";

.list-group-item {
    background-color: var(--white);
    border: 1px solid var(--listColor);
    padding: 0.75rem 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    &:before {
        content: "";
        @include elemDimension(100%);
        background-color: var(--listColor);
        position: absolute;
        inset: 0 0 auto auto;
        opacity: 0;
        z-index: -1;
    }

    &:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
        border-bottom: none;
    }

    &:only-child {
        border-radius: 5px !important;
    }

    &:nth-child(even) {
        &:before {
            opacity: 0.2;
        }
    }

    &:first-child {
        &:not(:only-child) {
            border-bottom: none;
            border-radius: 5px 5px 0 0;
        }
    }

    &:last-child {
        &:not(:nth-child(2)) {
            border-top: none;
        }

        &:not(:only-child) {
            border-radius: 0 0 5px 5px;
        }
    }
}

.first-item {
    --width: 30%;
    justify-content: flex-start;
}

.second-item {
    --width: 60%;
    justify-content: flex-start;
}

.third-item {
    --width: 10%;
    justify-content: flex-end;
}

.list-item {
    min-width: var(--width);
    max-width: var(--width);
    position: relative;
    display: flex;
    align-items: center;
}

.name {
    position: relative;
}

.category {
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid rgba(v.$gray-500, 0.8);
    border-radius: 8px;
    padding: 5px 8px;
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
    transition: border-color 100ms linear;

    &:hover {
        border-color: rgba(v.$gray-900, 0.9);
    }
}

.list-inner {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

.badge {
    color: var(--white);
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25em 0.4em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    user-select: all;

    &:before {
        content: "";
        @include elemDimension(100%);
        border-radius: 5px;
        position: absolute;
        inset: 0 0 auto auto;
        pointer-events: none;
        z-index: -1;
    }
}

.badge-hasButton {
    margin: 0 1rem 0 0;
}

.badge-income {
    &::before {
        background-color: var(--green);
    }
}

.badge-expense {
    &::before {
        background-color: var(--red);
    }
}

.button {
    cursor: pointer;
}