@import "mixins";

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px) !default;

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 30px;
    margin: 0 auto 0 calc(var(--sidebarWidth));
    position: relative;
    display: flex;
    flex-flow: column;

    // @include minScreenSize(576px) {
    //     max-width: 540px;
    // }

    // @include minScreenSize(768px) {
    //     max-width: 720px;
    // }

    // @include minScreenSize(992px) {
    //     max-width: 960px;
    // }

    // @include minScreenSize(1200px) {
    //     max-width: 1140px;
    // }

    h1,
    h3 {
        margin-top: 1rem;
        font-weight: 700;
    }
}

.container-section {
    margin: 20px 0;
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 10px;

    &:first-child {
        margin-top: 5px;
    }
}

.assets-row {
    display: flex;
    flex-flow: row;
    gap: 25px;

    @include maxScreenSize(770px) {
        flex-flow: column;
    }
}

.asset-container {
    max-width: 100%;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 100ms linear;
    cursor: pointer;
}

.container-nav {
    margin: 10px 0 0 0;
}

.nav-tabs {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    user-select: none;
}

.tab-item {
    height: 40px;
    color: var(--gray-dark);
    font-weight: 600;
    border-radius: 5px;
    padding: 7px 15px;
    position: relative;
    cursor: pointer;
    transition: color 100ms linear, background-color 100ms linear;
    z-index: 2;
    overflow: hidden;

    &:before {
        content: "";
        @include elemDimension(100%);
        background-color: var(--blue);
        position: absolute;
        inset: 0 0 auto auto;
        transition: background-color 100ms linear;
        opacity: 0.2;
        z-index: -1;
        pointer-events: none;
    }

    span {
        height: 10px;
    }
}

.tab-active {
    color: var(--white);

    &:before {
        opacity: 1;
    }
}

.total {
    color: var(--gray-dark);
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.income {
    color: var(--green);
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.expenses {
    color: var(--red);
    background-color: #f8d7da;
    border-color: #f5c6cb;
}