@import "_mixins";

.sidebar {
    @include elemDimension(var(--sidebarWidth), 100%);
    background-color: var(--navBackground);
    position: fixed;
    backdrop-filter: saturate(40%) blur(25px);
    z-index: 999;
}

.sidebarInner {
    @include elemDimension(100%);
    margin: 0 auto;
    padding: 20px 15px 0 15px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 15px;
}

.navItem {
    --textColor: var(--gray-dark);
    --iconColor: transparent;
    @include elemDimension(100%, 40px);
    line-height: 1.2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    transition: color 100ms linear;

    &:first-child {
        margin-top: 65px;
    }

    &:before {
        content: "";
        @include elemDimension(40px);
        background-color: var(--iconColor);
        border-radius: 10px;
        position: absolute;
        inset: 50% auto auto 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 100ms linear, transform 200ms linear;
        transform: translate(0, -50%) scale(0);
        z-index: -1;
    }

    h3 {
        color: var(--textColor);
        font-family: "Ubuntu", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;

        @include maxScreenSize(1200px) {
            display: none;
        }
    }
}

.navLogout {
    --textColor: var(--red);
    --iconColor: var(--red) !important;
    margin-top: 20px;

    .icon {
        color: var(--iconColor);
    }
}

.navItemClicked {
    --iconColor: var(--orange);

    &:before {
        transform: translate(0, -50%) scale(1);
        opacity: 0.3;
    }

    h3 {
        color: var(--iconColor);
    }
}

.navItemHover {
    --iconColor: var(--orange);

    &:before {
        transform: translate(0, -50%) scale(1);
        opacity: 0.1;
    }
}

.icon {
    @include elemDimension(40px, 20px);
    min-width: 20px;
    vertical-align: middle;
    position: relative;

    svg {
        @include elemDimension(100%);
    }
}